*{
    margin: 0;
}
.header{
    color: white;
    background-color:#273272 ;
    padding: 18px;
    
    }
.head {
    display: inline-block;
    margin-left: 80px;
    
}
.head2{
    display: inline-block;
    margin-left: 20px;
}
.subhead{
    float: right;
    font-weight: 500;
    margin: 14px;
    
}
.btn{
    background-color: rgb(131, 58, 112);
    border-radius: 15px;
    /* width: 100%; */
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    color: white;
    align-items: center;
    margin-left: 899px;
}
.vcare img{
    float: left;
    margin-left: 40px;
    height: 70px;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    list-style: none;
}


.main_section{
    box-sizing: border-box;
    background-image: url("https://vcaretechnicalinstitute.com/wp-content/uploads/2024/03/Untitled-design-4.png");
    margin: 30px;
    
}
.main{
      margin-top: 100px;
      margin-left: 200px;
}
#h1{
    color: rgb(0, 0, 0);
    font-family: "Red Hat Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    word-spacing: 4px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-top: 0px;
    /* margin-bottom: 1rem; */
    text-transform: unset;
}
#h3{
    color: rgb(50, 67, 165);
    font-family: "Red Hat Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    word-spacing: 4px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    text-transform: unset;
}
#p1{
    color: rgb(0, 0, 0);
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 4px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 0.5rem;
text-transform: unset;
}
#p2{
    text-align: left;
    font-family: "Red Hat Display", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-transform: unset;
}
.img2{
    display: flex;
    margin-left: 850px;
    width: 150px;
    margin-top: -250px;
}
#btn{
    box-sizing: border-box;
    background-color: rgb(30, 69, 124);
    color: white;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
}
#logo_section{
    background-color: rgb(30, 69, 124);
    padding: 15px;
    overflow: visible;
    box-sizing: border-box;
}
#list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
    font-size: 35px;

}