*{
    margin: 0;
}
.header{
    color: white;
    background-color:#273272 ;
    padding: 18px;
    
    }
.head {
    display: inline-block;
    margin-left: 80px;
    
}
.head2{
    display: inline-block;
    margin-left: 20px;
}
.subhead{
    float: right;
    font-weight: 500;
    margin: 14px;
    
}
button{
    background-color: #9f4257;
    border-radius: 14px;
    font-size: 15px;
    padding: 12 24 ;
    float: right;
}
.vcare img{
    float: left;
    margin-left: 40px;
    height: 70px;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    list-style: none;
}

.img2{
    display: flex;
    margin-left: 650px;
    width: 150px;
    margin-top: -170px;
}
.main_section{
    box-sizing: border-box;
    background-color: #3D75B6;
}
.main{
      margin-top: 100px;
      

}
